# Node.js dependencies
node_modules/
.env
.env.local
.env.production
.env.development
.DS_Store

# Next.js build files
.next/
out/

# Express build files (if applicable)
dist/

# Logs and cache
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
